{% extends 'blog/base_blog.html' %}

{% block title %}
    Tag Create - {{ block.super }}
{% endblock %}

{% block content %}

    <form action="{% url 'create_post_url' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if field.errors %}
        {{field.errors}}
        {% endif %}
            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            <div>
                <input type="text" class="form-control"
                       name="{{ field.name }}"
                       id="id_{{ field.name }}">
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-dark mt-5">Create Post</button>
    </form>
{% endblock %}